# Paramètres Django
SECRET_KEY=django-insecure-a43ml7%bpwm2&*18ay)jt24gam!89wh0oss150hxc)$8&0(+uc
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Base de données
# Pour SQLite (dev local) :
# DATABASE_URL=sqlite:///db.sqlite3
# Pour PostgreSQL (prod/workbench) :
# DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Interconnexion
MARKETPLACE_URL=http://127.0.0.1:8000
